<section class="About-Us">
    <div class="About-Us-Container">
        <div class="About-Us-Img">
            <img src="images/coverTruck1.JPG" alt="text Image">
        </div>
        <div class="About-Us-Text">
            <h2>About Us</h2>
            <p>We have been ruling the road for a decade now.
                From demolition to dirt, concrete and rock we get it where you need it to go.
                Our trusted team of professionals will leave you feeling safe in there hands.</p>
            <a href="#"><span>Click Me</span></a>
        </div>
    </div>
</section>