<footer>
    <div class="Footer-Header">
        <h2>CWR Trucking / West Haven, UT</h2>
        <ul>
            <li><a href="">Demolition</a></li>
            <li><a href="">Concrete</a></li>
            <li><a href="">landscaping</a></li>
            <li><a href="">Hauling</a></li>
            <li><a href="contact.html">Contact </a></li>
            <li><a href="">Careers</a></li>
        </ul>
    </div>
    <div class="Footer-Columns">
        <div>
            <ul>
                <li>Address</li>
                <li>1651 S 300 W</li>
                <li>Clearfield, UT 84016</li>
            </ul>
            <ul>
                <li>Phone</li>
                <li>801-940-6023</li>
            </ul>
            <ul>
                <li>Hours</li>
                <li>8:00am - 7:00pm</li>
                <li>Monday-Friday</li>
            </ul>
        </div>
    </div>
    <aside>
        <h4>&#169; 2019 CWR Trucking | West Haven, UT | All Rights Reserved</h4>
        <a href="">Privacy Policy</a>
        <a href="">Site Map</a>
    </aside>
</footer>