<section class="Middle-Contact-Banner">
    <div class="Middle-Contact-Banner-Container">
        <div class="Middle-Contact-Banner-Text">
            <h2>We Have North Utah Covered</h2>
            <p>Give us a call at <a href="tel://+8019406023">801-940-6023</a> to schedule
                our BIG DOG TRUCKS.</p>
            <a href="contact.html"><span>Contact Us</span></a>
        </div>
        <div class="Middle-Contact-Banner-Img">
            <img src="images/coverTruck1.JPG" alt="text Image">
        </div>
    </div>
</section>